html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body{
    font-family:'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.05em;
}
/*css reset*/


*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    max-width: 1296px;
    margin: 0 auto;
}
.header{
    margin: 0 auto;
    background: url(../images/hero.png) no-repeat center;
    background-size: cover;
    width: 100%; 
    color: #ffffff;
    font-weight: 700;
    text-align: center;   
    padding-top: 151px;
    padding-bottom: 151px;
}
h1{
    font-size: 40px;  
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
    color: #57A203;
}
p{
    font-weight: 400;
}
.mt-64{
    margin-top: 64px;
}
.mt-48{
    margin-top: 48px;
}
.mt-24{
    margin-top: 24px;
}
.mt-16{
    margin-top: 16px;
}
.ml-16{
    margin-left: 16%;
}
.ml-7{
    margin-left: 7%;
}
.pd-32{
    padding: 32px;
}

.lh-2{
    line-height: 2em;
}
.lh-15{
    line-height: 1.5em;
}
.map{
    margin: 0 auto;
}
.box{
    background-color: #F5FEE7;
    text-align: center;
}

