html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body{
    font-family:'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.05em;
}
/*css reset*/


*,
*::before,
*::after{
    box-sizing: border-box;
}


.header{
    margin: 0 auto;
    background: url(../images/hero.png) no-repeat center;
    background-size: cover;
    width: 100%; 
    color: #ffffff;
    font-weight: 700;
    text-align: center;   
    padding-top: 151px;
    padding-bottom: 151px;
}
.container{
    max-width: 1296px;
}
h1{
    font-size: 40px;  
}
h2{
    font-size: 28px;
}
h3{
    font-size: 24px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
    color: #57A203;
}
h5{
    font-size: 14px;
    font-weight: 400;
    color: #6C757D;
}
p{
    font-weight: 400;
}
.mt-64{
    margin-top: 64px;
}
.mt-48{
    margin-top: 48px;
}
.mt-24{
    margin-top: 24px;
}
.mt-16{
    margin-top: 16px;
}
.ml-16{
    margin-left: 16%;
}
.ml-7{
    margin-left: 7%;
}
.ml-2{
    margin-left: 2%;
}
.pl-1{
    padding-left: 1%;
}
.pl-3{
    padding-left: 3%;
}
.mr-1{
    margin-right: 1%;
}
.pd-32{
    padding: 32px;
}
.pb-48{
    padding-bottom: 48px;
}

.lh-2{
    line-height: 2em;
}
.lh-15{
    line-height: 1.5em;
}
.bb{
    border-bottom: 1px solid #DEE2E6;
}
.bb-g{
    border-bottom: 1px solid #57A203;
}
.bl{
    border-left: 1px solid #212529;
}
.bl-3{
    border-left: 3px solid #DEE2E6;
}

.map{
    margin: 0 auto;
}
.intro img{
   margin: 0 auto;
    max-width: 100%;
    width: 100%;
    margin-top: 48px;
}
.box{
    background-color: #F5FEE7;
    text-align: center;
}
.history ul{
    display: flex;
    
}
.type{
    list-style-type: disc;
}
.story a{
   display: block;
   color: #57A203;
}
.story a:hover{
    color: #D74F4F;
}
.footer{
    width: 100%;
    background-color: #F8F9FA;
    color: #6C757D;
    margin: 0 auto;
    padding-top:6%;
    padding-bottom:6%;
    text-align: center;
    margin-top: 64px;
    float: bottom;
}
