body{
    font-family:'Noto Sans TC', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	letter-spacing: 0.05em;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}
.box{
    margin: 0 auto;
    background: url(../images/hero.png) no-repeat center;
    background-size: cover;
    width: 100%; 
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    line-height: 120%;
    padding-top: 151px;
    padding-bottom: 151px;
}
h1{
    font-size: 40px;  
}
h2{
    font-size: 28px;
}